<p style="color: green"><%= notice %></p>

<h1>Breaks</h1>

<div id="breaks">
  <table>
    <tr>
    <th>Break Id </th>
    <th>Break Start time </th>
    <th>Break end time </th>
    </tr>
  <% @breaks.each do |bk| %>
    <tr>
      <td><%= bk.id %></td>
      <td><%= bk.start_time %></td>
      <td><%= bk.end_time %> </td>
    </tr>
  <% end %>
</div>
