<p style="color: green"><%= notice %></p>

<h1>Shifts</h1>

<div id="shifts">
  <table>
    <tr>
      <th>
        <strong>Start time:</strong>
      </th>
      <th>
        <strong>End time:</strong>
      </th>
    </tr>
  <% @shifts.each do |shift| %>
    <tr>
    <%= render shift %>
    </tr>
  </table>
  <% end %>
</div>
